@import url('https://fonts.googleapis.com/css?family=Anaheim|Andika|Athiti|Bad+Script|Caveat|Coiny|Courgette|Laila|Nanum+Brush+Script|Satisfy|Tangerine|The+Girl+Next+Door');

/* body {
  margin-top: -20px;
  padding: 0;
  border: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
